body 				{ font-family: Calibri; margin: 0px; -ms-touch-action: none; overflow-x: hidden; overflow-y: auto; color: #FFF; }

#main 				{ position: fixed; background: #88CFEB; z-index: 1; }

.button				{ text-align: center; font-size: 14px; outline: 0px; font-weight: bold; text-transform:uppercase; height: 50px; background: #C5E8F5; border: 0px; color: #FFF; cursor: pointer; }
.button:focus		{ background: #8AC9E1; }


#gesture-creation-area 		{ height: 50px; background: #fff; margin: 22px 0px 0px 0px; padding-left: 22px; width: 318px; position: absolute; z-index: 9999; }
#new-gesture-name 			{ width: 201px; float: left; padding: 0px 0px 0px 15px; outline: none; font-size: 14px; font-weight: bold; color: #34495E; text-transform: uppercase; height: 50px; background: #FFFFFF; border: 0px; }
#create-new-gesture 		{ width: 102px; float: left; }
#gesture-creation-area img 	{ margin-left: 20px; } 

#existing-gestures 									 { list-style-type: none; margin-left: -40px; position: absolute; top: 80px; z-index: 99999; display: block; width: 338px; font-size: 16px; font-weight: bold; color: #FFF; text-transform:uppercase; }
#existing-gestures li 								 { position: relative; overflow: visible; height: 50px; line-height: 50px; cursor: pointer; background: #9AD7EE; color: #fff; margin-bottom: 0px; }
#existing-gestures li img 							 { float: right; margin-right: -28px; display: none; }

#existing-gestures li .gesture-name 				 { padding-left: 37px; float: left; white-space: nowrap; position: absolute; }
#existing-gestures li .label 				 		 { font-style: italic; right: 0px; position: absolute; }
#existing-gestures li .progress						 { float: left; overflow: visible; width: 0%; height: 50px; }

#existing-gestures li.selected img.export-arrow 	 { display: none; }


.overlay-open #existing-gestures li 							{ display: none; }
.overlay-open #existing-gestures li.selected 					{ background: #AFDFF1; width: 88%; display: block; }
.overlay-open #existing-gestures li.selected img 				{ background: #AFDFF1; }
.overlay-open #existing-gestures li.selected img.export-arrow 	{ display: block; }
.overlay-open #existing-gestures li.selected .training-label 	{ display: none; }
.overlay-open #existing-gestures li.selected .export-gesture	{ display: block; }


#overlay-shade 											{ display: none; top: 0px; width: 100%; height: 1000px; position: absolute; z-index: 99998; background: #000; opacity: 0.7; }
#overlay												{ display: none; width: 910px; height: 900px; padding: 20px; position: absolute; z-index: 99999; background: #FFF; color: #34495E; top: 20px; left: 380px; }
#overlay textarea 										{ width: 99%; height: 510px; font-size: 16px; border: 2px solid #959595; color: 5D5D5D; outline: none; }
#overlay div 											{ padding: 0px 20px; font-size: 20px; line-height: 40px; }

#sample-import-code 									{ margin: 30px 0px; padding: 20px; border: 2px solid #FFF; background: #F3FBFC; }
#exporting-gesture-name									{ text-transform:uppercase; }
#close-overlay, #retrain-gesture						{ padding: 0px 25px; margin-top: 20px; background: #88CFEB; }
#close-overlay											{ float: right; }

.overlay-open #overlay-shade							{ display: block; }
.overlay-open #overlay									{ display: block; }

#output-text											{ font-size: 24px; background: #A3DAEF; width: 100%; position: absolute; height: 50px; line-height: 50px; top: 22px; text-align: center; }

#render-area 											{ background: transparent; }

#version-tag, #fork-me									{ position: fixed; font-size: 13px; bottom: 22px; right: 0px; height: 20px; line-height: 20px; }
#version-tag											{ width: 308px; text-align: left; padding-left: 32px; background: #A3DAEF; }
#fork-me												{ display: block; color: #FFF; width: 170px; text-align: center; background: #FC8C78;}
#fork-me:hover											{ background: #FFF; color: #88CFEB; }
#webgl-warning											{ display: none; position: absolute; left: 0px; bottom: 22px; height: 20px; line-height: 20px; z-index: 999; background: #FC8C78; padding: 0px 15px; font-size: 13px; }

#options-button 										{ position: absolute; top: 22px; padding-left: 27px; right: -29px; width: 140px; text-align: left; background: url('../images/options-arrow.png') 113px 0px #C5E8F5 no-repeat; }
#options-button:focus									{ background: url('../images/options-arrow.png') 113px 0px #8AC9E1 no-repeat; }

#options 												{ z-index: 0; position:fixed; right:0px; width:340px; background: #69C2E4; }
#options table											{ width: 90%; margin: 20px; }

#options table tbody tr td.label						{ text-align: right; line-height: 30px; font-size: 13px; white-space: nowrap; }
#options table tbody tr td select						{ margin-left: 10px; width: 95%; height: 30px; font-size: 13px; border: 0px; font-weight: bold; color: #5D5D5D; outline: none; }
#options table tbody tr td select option				{ padding: 5px 0px; line-height: 30px; }
#options table tbody tr td input						{ outline: none; ont-weight: bold; color: #5D5D5D; margin-left: 10px; font-weight: bold; padding-left: 10px; width: 90%; height: 30px; border: 0px; }

#options table tbody tr td select:focus,
#options table tbody tr td input:focus					{ background: #F3FBFC; }

#open-configuration, #close-configuration				{ text-transform: uppercase; }

#options-update-confirmation							{ display: none; width: 100%; height: 50px; line-height: 50px; font-size: 16px; font-weight: bold; background: #63CF51; text-align: center; position: absolute; bottom: 60px; }

