body 		{ font-family: Calibri; margin: 0px; -ms-touch-action: none; overflow: hidden; }

#fork-me	{ display: block; color: transparent; width: 149px; z-index: 99999999; position: absolute; top: 0px; right: 0px; height: 148px; background: url('../../trainer-ui/images/fork-me.png') transparent; outline: none; text-decoration: none; font-size: 0px; }